<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5ee0c164-0559-475a-ab69-4c4c43814325/resourceGroups/NewWebApp/providers/Microsoft.Web/sites/sss-myfirstapp</ResourceId>
    <ResourceGroup>NewWebApp</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://sss-myfirstapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>14a60c7f-be4b-46bc-9570-d75235f7cafe</ProjectGuid>
    <PublishUrl>https://sss-myfirstapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$sss-myfirstapp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>